opencv-python-headless
numpy==1.26.4
python-dotenv
fastapi
uvicorn
sqlalchemy[asyncio]
psycopg2-binary
asyncpg
aiosqlite
pgvector
deep-sort-realtime
mediapipe==0.10.9
scipy
google-cloud-vision
protobuf==3.20.3
