opencv-python-headless
numpy==1.26.4
python-dotenv
fastapi
uvicorn
sqlalchemy[asyncio]
psycopg2-binary
asyncpg
aiosqlite
pgvector
deep-sort-realtime
mediapipe==0.10.11
scipy
google-cloud-vision
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
